.header {
  position: sticky;
  inset-block-start: 0;
  z-index: var(--header-z-index);
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 100%;
  pointer-events: none;

  .navbar {
    inline-size: calc(100% - 48px);
    padding-block: 0.47rem;
    padding-inline: 1.5rem;
    margin-inline: auto;
    pointer-events: auto;
    background-color: var(--mui-palette-background-paper);
    border-inline: 1px solid var(--mui-palette-divider);
    border-block-end: 1px solid var(--mui-palette-divider);
    border-end-start-radius: var(--mui-shape-borderRadius);
    border-end-end-radius: var(--mui-shape-borderRadius);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);

    &.headerScrolled {
      background-color: var(--mui-palette-background-paper);
      border-color: var(--mui-palette-divider);
      box-shadow: 0 4px 8px -4px rgb(var(--mui-mainColorChannels-shadow) / 0.42);
    }

    @media (min-width: 600px) {
      padding-inline: 2rem;
    }
    @media (min-width: 900px) {
      max-inline-size: calc(900px - 48px);
    }
    @media (min-width: 1200px) {
      max-inline-size: calc(1200px - 48px);
    }
    @media (min-width: 1920px) {
      max-inline-size: calc(1440px - 48px);
    }

    .navbarContent {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1.5rem;
    }
  }
}

.inputBorder {
  fieldset {
    border-color: rgb(var(--mui-mainColorChannels-dark) / 0.22) !important;
  }
  label,
  input {
    color: rgb(var(--mui-mainColorChannels-dark) / 0.9) !important;
  }
}
